@charset "UTF-8";
@import url(c:\fronted/works\imtihon-2\scss\basing.css);

.learning {
    height: 466vh;
    background-color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    height: 466vh;
}

.navbar_1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgb(197, 187, 187);
    width: 89%;
    z-index: 1000;
}

.head-ul-li-1 {
    margin: 20px 20px 20px;
}

.head-ul-li {
    display: block;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: space-around;
    font-size: 20px;
}

.head-ul-li {
    padding-left: 80px;
    padding-top: 12px;
    color: white;
}

.head_ul {
    background-color: #555;
    width: 100%;
}

.head-sp-a {
    color: blue;
    font-size: 36px;
}

.head-ul-link-2 {
    color: white;
    font-size: 24px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 100px;
}

.head-ul-li-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main_1 {
    margin-top: 180px;
}

.main-1-left {
    margin-left: 40px;
}

.main-1-h2 {
    color: black;
    font-size: 50px;
    margin-bottom: 30px;
}

.main-1-p {
    color: #8F95A5;
    font-size: 24px;
    margin-bottom: 40px;
}
.middle-r-img {
    width: 450px;
    height: 500px;
    margin-top: -60px;
}
.main-1-but {
    background: #263238;
    padding: 14px 60px;
    color: white;
    font-size: 24px;
    border-radius: 10px;
}
.middle-1-img {
    margin-top: 50px;
    padding-right: 150px;
}
.main-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main_right_img {
    width: 500px;
    height: 500px;
    margin-top: -80px;
    margin-right: 10px;
}

.main_2 {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-2-h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
    color: black;
    margin-bottom: 60px;
}

.main-2-img {
    margin-left: -30px;
}

.cards_title {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px 30px;
    width: 400px;
    height: 700px;
    margin-left: 68px;
    background-color: #F5F5F5;
}

.main-2-h3 {
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.main-2-p {
    color: grey;
    font-size: 12px;
    margin-left: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 30px;
}

.main-2-but {
    background: #263238;
    color: white;
    padding: 8px 20px;
    margin-top: 80px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 5px;
}

.cards_title-2 {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px 30px;
    width: 310px;
    height: 400px;
    margin-left: 18px;
    background-color: #F5F5F5;
}

.main-2-h3_2 {
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.main-2-p_2 {
    color: grey;
    font-size: 12px;
    margin-left: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 25px;
}

.main-2-but_2 {
    background: #263238;
    color: white;
    padding: 8px 20px;
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 5px;
}

.main-2-h3_3 {
    font-size: 30px;
    color: black;
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 6px;
}

.main-2-p_3 {
    color: grey;
    font-size: 12px;
    margin-left: 15px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 25px;
}

.main-2-but_3 {
    background: #263238;
    color: white;
    padding: 8px 20px;
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 15px;
    border-radius: 5px;
}

.main-2-img-3 {
    margin-left: -65px;
    margin-top: -30px;
    height: 200px;
}

.cards_title-3 {
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px 30px;
    width: 300px;
    height: 400px;
    margin-left: 18px;
    background-color: #F5F5F5;
}

.cards_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main-2-h3_4 {
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-2-p_4 {
    color: grey;
    font-size: 12px;
    margin-left: 30px;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin-bottom: 15px;
}

.main-2-but_4 {
    background: #263238;
    color: white;
    padding: 8px 20px;
    margin-top: 20px;
    border: 1px solid black;
    margin-left: 30px;
    border-radius: 5px;
}

.cards_title-4 {
    margin-top: 10px;
    border: 1px solid #F5F5F5;
    border-radius: 10px;
    padding: 20px 30px;
    width: 628px;
    height: 285px;
    margin-left: 18px;
    background-color: #F5F5F5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.main-2-img-4 {
    margin-top: -20px;
}

.main-3 {
    margin-top: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    height: 400px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-3-left {
    margin-left: 60px;
}

.main-3-h3 {
    color: black;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.main-3-p {
    color: #8F95A5;
    font-size: 16px;
}

.main-3-logo-sp {
    font-size: 38px;
}

.main-3-logo-h4 {
    font-size: 20px;
    letter-spacing: 1px;
}

.main-3-logo {
    margin-top: 35px;
}

.main-3-logo-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main-3-logo-sp {
    font-size: 38px;
}

.main-3-logo-sp-3 {
    font-size: 38px;
    margin-left: 50px;
}

.main-3-logo-sp-2 {
    font-size: 38px;
    margin-left: 15px;
}

.main-3-right-img {
    margin-left: 240px;
    width: 360px;
    height: 360px;
}

.main-4 {
    margin-top: 60px;
}

.main-4-h2 {
    text-align: center;
    font-size: 36px;
    color: black;
}

.main-4-cards {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.main-4-img-1 {
    margin-left: 10px;
}

.main-4-h3-1 {
    font-size: 33px;
    color: black;
    margin-top: 15px;
    margin-bottom: 20px;
}

.main-4-p-1 {
    font-size: 20px;
    color: #8F95A5;
    margin-bottom: 25px;
}

.main-4-span-1 {
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
    padding: 5px 10px;
    border-radius: 4px;
}

.main-4-h3_2 {
    margin-top: 10px;
    font-size: 33px;
    color: black;
    margin-left: 20px;
}

.main-4-p_2 {
    font-size: 20px;
    color: #8F95A5;
    margin-bottom: 47px;
    margin-top: 20px;
    margin-left: 20px;
}

.main-4-span_2 {
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
}

.main-4-ul {
    margin-left: 20px;
}

.main-4-img-2 {
    margin-left: 2px;
    margin-top: 35px;
}

.main-4-img-3 {
    margin-left: 1px;
    margin-bottom: 7px;
}

.main-4-h3-3 {
    margin-top: -15px;
    font-size: 33px;
    color: black;
    margin-left: 20px;
}

.main-4-p-3 {
    font-size: 20px;
    color: #8F95A5;
    margin-bottom: 47px;
    margin-top: 20px;
    margin-left: 20px;
}

.main-4-span_3 {
    border: 1px solid #E5E5E5;
    background: #E5E5E5;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 20px;
}

.main-5-img {
    margin-left: 80px;
    width: 300px;
    height: 300px;
}

.main-5-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.main-5-link {
    border: 1px solid black;
    padding: 10px 30px;
    color: white;
    background-color: #263238;
    border-radius: 5px;
    margin-left: 20px;
}

.main-5-h2 {
    margin-bottom: 40px;
    font-size: 45px;
}

.main-5-p {
    color: #8F95A5;
    font-size: 20px;
    margin-bottom: 40px;
}

.about {
    padding: 5px 30px;
    margin-left: -30px;
}

.main-5-right {
    margin-left: 100px;
}

.main-5 {
    margin-top: 100px;
}

.footer {
    margin-top: 60px;
}

.foot-ul-a {
    color: black;
    font-size: 36px;
    margin-left: 100px;
}

.foot-sp-a {
    color: grey;
    font-size: 36px;
}

.foot-ul-link {
    color: #8F95A5;
    font-size: 24px;
    margin-right: 30px;
}

.footer-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
